<md-content>
    <div layout-xs="column" layout="row">
        <div flex-gt-xs="40" layout="column">
            <md-card class="default-card">
                <md-card-title>
                    <md-card-title-text>
                        <h2 class="md-headline">Popular FAQs</h2>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <lr-homepage-faq></lr-homepage-faq>
                </md-card-content>
            </md-card>
   
        </div>
        <div flex-gt-xs="60" layout="column">
            <md-card class="default-card">
                <md-card-title id="lr-onesearch-vid-headline">
                    <md-card-title-text>
                        <h2 class="md-headline">OneSearch in One Minute</h2>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content id="lr-onesearch-vid-container">
                    <iframe id="lr-onesearch-vid" flex="" src="https://www.youtube-nocookie.com/embed/QiKP51awiBw?cc_load_policy=1&amp;modestbranding=1&amp;rel=0" frameborder="0" allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
                </md-card-content>
            </md-card>
        </div>
    </div>
        <div layout="row">
        <md-card class="default-card" layout="column" flex="100">
            <md-card-title>
                <md-card-title-text>
                    <h2 class="md-headline">Antiracism: A collection of ebooks and videos</h2>
                </md-card-title-text>
            </md-card-title>
            <div>
              <a title="Explore the collection" href="/discovery/collectionDiscovery?vid=01CACCL_LRCCD:flc&amp;collectionId=8155909560005325">
                    <img hide-xs src="/discovery/custom/01CACCL_LRCCD-flc/img/collections/8155909560005325.jpg" alt="Collage of fists in the air with book jackets for books included in the collection" flex="100">
                    <img hide show-xs src="/discovery/custom/01CACCL_LRCCD-flc/img/collections/8155909560005325.xs.jpg" alt="Collage of fists in the air" flex="100">
                </a>  
            </div>
            <md-card-content>
                <p>Browse resources that explore what it means to be antiracist by reflecting on the actions, attitudes, and policies that actively oppose racism and lead to justice in our communities.</p>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" aria-label="Launch" href="/discovery/collectionDiscovery?vid=01CACCL_LRCCD:flc&amp;collectionId=8155909560005325">
                        <md-icon md-svg-icon="action:ic_launch_24px"></md-icon>
                    </md-button>
                </md-card-actions>
            </md-card-content>
        </md-card>
    </div>
    <!-- uncomment below line to enable new books display -->
    <!--<lr-newbooks-display></lr-newbooks-display>-->
</md-content>