<div ng-if="$ctrl.parentCtrl._itemsExist === true">
	<!-- blurbs at bottom of collections -->
	<div ng-if="::$ctrl.position === 'bottom'">
		<md-content 
		ng-if="::$ctrl.collectionID ===
		'8184352960005325'
		" 
		class="padded-container" layout="row" flex>
			<div flex="0" flex-md="0" flex-lg="10" flex-xl="20"></div>
			<div layout="column" class="md-subhead margin-left-small">
				<p>Find more resources on creating graphic novels, comics, and manga with a <a class="arrow-link"
						href="/discovery/search?query=sub,contains,Comic%20books,%20strips,%20etc%20--%20Technique,OR&amp;query=sub,contains,Comic%20books,%20strips,%20etc%20--%20Authorship,AND&amp;tab=everything&amp;search_scope={{::$ctrl.col}}_everything&amp;vid=01CACCL_LRCCD:{{::$ctrl.col}}&amp;mode=advanced&amp;offset=0">subject
						search <prm-icon class="arrow-link md-primoExplore-theme" link-arrow="" icon-type="svg"
							svg-icon-set="primo-ui" icon-definition="chevron-right"></prm-icon></a>.</p>
			</div>
		</md-content>
		<md-content 
		ng-if="::$ctrl.collectionID ===
		'81101867750005325'
		" 
		class="padded-container" layout="row" flex>
			<div flex="0" flex-md="0" flex-lg="10" flex-xl="20"></div>
			<div layout="column" class="md-subhead margin-left-small">
				<p>For articles, book chapters, and resources not held at our library, see our <a href="81101867750005325" target="_blank">SCC Authors guide <lr-ext-link-icon></lr-ext-link-icon></a>.</p>
			</div>
		</md-content>
	</div>

	<!-- blurbs at top of collections -->
	<div ng-if="::$ctrl.position === 'top'">
		<md-content ng-if="::$ctrl.collectionID === 
		'8196633390005325'
		" class="padded-container" layout="row" flex
			style="padding-bottom:0;">
			<div flex="0" flex-md="0" flex-lg="10" flex-xl="20"></div>
			<div layout="column" class="md-subhead margin-left-small">
				<p>Beyond the books listed below, discover more resources by and about Joan Didion in the databases:</p>
					<ul style="margin:0;">
						<li><a href="https://scclosrios.idm.oclc.org/login?url=https://search.ebscohost.com/login.aspx?direct=true&amp;AuthType=ip,uid&amp;db=a9h&amp;bquery=(ZA+%26quot%3bdidion%2c+joan%26quot%3b)+OR+(ZP+%26quot%3bdidion%2c+joan%2c+1934-2021%26quot%3b)&amp;cli0=FT&amp;clv0=Y&amp;type=1&amp;searchMode=And&amp;site=ehost-live&amp;scope=site" target="_blank">Academic Search Complete <lr-ext-link-icon></lr-ext-link-icon></a></li>
						<li><a href="https://scclosrios.idm.oclc.org/login?url=https://go.gale.com/ps/i.do?st=T001&amp;qt=ACID~13026267+OR+13026265&amp;sw=w&amp;ty=ps&amp;it=search&amp;sid=bookmark-LitRC&amp;p=LitRC&amp;s=Relevance&amp;u=cclc_sac&amp;v=2.1&amp;asid=457998b6" target="_blank">Literature Resource Center <lr-ext-link-icon></lr-ext-link-icon></a></li>
					</ul>
			</div>
		</md-content>
		<md-content ng-if="::$ctrl.collectionID === 
		'8185113600005325'
		" class="padded-container" layout="row" flex
			style="padding-bottom:0;">
			<div flex="0" flex-md="0" flex-lg="10" flex-xl="20"></div>
			<div layout="column" class="md-subhead margin-left-small">
				<p>Also <a href="https://researchguides.scc.losrios.edu/award-winning-books/arab-american-book-awards" target="_blank">view our guide to award-winning Arab-American books. <md-icon md-svg-icon="action:ic_launch_24px" style="min-height:16px; height:16px;"></md-icon></a></p>
			</div>
				
		</md-content>		
</div>