<md-content ng-if="$ctrl.showBlurb({'collection':'8184003930005325', 'position': 'bottom'});" class="padded-container" layout="row" flex>
	<div flex="0" flex-md="0" flex-lg="10" flex-xl="20"></div>
	<div layout="column" class="md-subhead margin-left-small">
		<p>Explore more resources on Afrofuturism with a <a href="/discovery/search?query=sub%2Ccontains%2CAfrofuturism%2CAND&vid=01CACCL_LRCCD%3A{{$ctrl.col}}&mode=advanced&offset=0">subject search</a>.</p>
	</div>
</md-content>
<md-content ng-if="$ctrl.showBlurb({'collection':'8184352960005325', 'position': 'bottom'});" class="padded-container" layout="row" flex>
	<div flex="0" flex-md="0" flex-lg="10" flex-xl="20"></div>
	<div layout="column" class="md-subhead margin-left-small">
		<p>Find more resources on creating graphic novels, comics, and manga with a <a href="/discovery/search?query=sub,contains,Comic%20books,%20strips,%20etc%20--%20Technique,OR&amp;query=sub,contains,Comic%20books,%20strips,%20etc%20--%20Authorship,AND&amp;tab=everything&amp;search_scope={{$ctrl.col}}_everything&amp;vid=01CACCL_LRCCD:{{$ctrl.col}}&amp;mode=advanced&amp;offset=0">subject search</a>.</p>
	</div>
</md-content>