<footer id="footer" ng-if="::$ctrl.isAlmaD===-1"  ng-style="$ctrl.setMargin();" style="margin-top:400px;">
	<!-- top footer; edited college by college -->
	<div layout="row" layout-xs="column" id="top-footer" class="lr-footer">
		<div layout="column" flex="">
			<h2>More Resources</h2>
			<div class="lr-dbs">
				<ul>
					<li><a class="arrow-link" zero-margin="" href="/discovery/collectionDiscovery?vid=01CACCL_LRCCD:scc&amp;collectionId=8188683380005325" ng-click="$ctrl.scrollUp();">Borrow a Laptop or Calculator<prm-icon link-arrow="" icon-type="svg" svg-icon-set="primo-ui" icon-definition="chevron-right"></prm-icon></a></li>
					<li><a class="arrow-link" zero-margin="" ng-href="{{::$ctrl.browseURL}}" ng-click="$ctrl.scrollUp();">Browse by Call Number or Subject<prm-icon link-arrow="" icon-type="svg" svg-icon-set="primo-ui" icon-definition="chevron-right"></prm-icon></a></li>
					<li><a href="https://scclosrios.idm.oclc.org/login?url=https://search.ebscohost.com/login.aspx?authtype=ip%2Cuid&amp;profile=all" target="_blank">EBSCO Search</a></li>
					<li><a href="https://scclosrios.idm.oclc.org/login?url=https://scholar.google.com/" target="_blank">Google Scholar</a></li>
					<li><a href="https://scclosrios.idm.oclc.org/login?url=https://infotrac.galegroup.com/itweb?db=GVRL" target="_blank">Gale eBooks</a></li>
					<li><a href="https://researchguides.scc.losrios.edu/az/databases/?t=834" target="_blank">News Databases</a></li>
					<li><a href="https://thirdiron.com/downloadnomad/" target="_blank">LibKey Nomad</a></li>

				</ul>
				<p ng-if="$ctrl.askUs">
					<md-icon md-svg-icon="action:ic_help_24px"></md-icon> Not sure where to start?
					<a href="{{::$ctrl.askUs}}">
						Ask Us. <lr-ext-link-icon></lr-ext-link-icon>
					</a>
				</p>
			</div>
		</div>
		<div layout="column" flex="">
			<h2>Get Research Help</h2>
			<ul>
				<li><a href="https://researchguides.scc.losrios.edu" target="_blank">Research Guides</a></li>
				<li><a href="https://library.losrios.edu/scc/pilot" target="_blank"><abbr title="Path to Information Literacy Online Tutorial">PILOT</abbr></a></li>
				<li><a href="https://www.supersaas.com/schedule/SCC_Library/Research_Appointments?m=0" target="_blank">Research Appointments</a></li>
			</ul>
			<p>
				<lr-subject-faq location="footer"></lr-subject-faq>
			</p>
		</div>
		<div layout="column" flex="">
			<h2>Library Hours, Fall 2024</h2>
			<ul style="margin-bottom:0;">
				<li>Monday to Thursday: 8:00 am to 8:00 pm</li>
				<li>Friday: 8:00 am to 4:00 pm</li>
				<li>Saturday: 9:00 am to 3:00 pm</li>
				<li>Sunday: closed</li>
			</ul>
			<p><a href="https://scc.losrios.edu/student-resources/library/library-daily-hours" target="_blank">More about hours <lr-ext-link-icon></lr-ext-link-icon></a></p>
		</div>
	</div>
	<!-- subfooter; see js file for content -->
	<div id="subfooter" class="lr-footer">
		<div layout="row" layout-align="center" layout-align-xs="start" flex="" id="lr-libraries-logo"><img loading="lazy" ng-src="{{::$ctrl.LRLogoSrc}}" alt="Los Rios Libraries"></div>
		<div layout="row" layout-xs="column">
			<div class="lr-ft-college-column" layout="column"  flex="" ng-repeat="lib in ::$ctrl.libraries">
				<div class="lr-ft-college">
				<div><a ng-href="https://{{::lib.abbr}}.losrios.edu/{{::lib.path}}">{{::lib.name}} College Library</a></div>
				<div><a ng-href="tel:+1-916-{{::lib.phone}}">(916) {{::lib.phone}}</a></div>	
				</div>
			</div>
		</div>
	</div>
</footer>