<!-- documentation: https://answers.library.losrios.edu/lrcq/faq/343616 -->
<md-content ng-class="$ctrl.fade" ng-if="$ctrl.showAnnounce({
cookieID: 'sso-outage',
daysToHide: 2,
endDate:'2024-02-13'
});">
	<p layout-margin layout-align="center center">
		<md-icon md-svg-icon="action:ic_announcement_24px" aria-label="announcement"></md-icon>
		District-wide Single Sign-on outage is preventing item requests and access to many library resources.
		<md-button class="md-raised" ng-click="$ctrl.hideAnnounce();">
			Hide this announcement
			<md-icon md-svg-icon="navigation:ic_close_24px" aria-label="Close"></md-icon>
		</md-button>
	</p>
</md-content>