<!-- documentation: https://answers.library.losrios.edu/lrcq/faq/343616 -->
<md-content ng-class="$ctrl.fade" ng-if="$ctrl.showAnnounce({
cookieID: 'eos',
daysToHide: 7,
startDate: '2024-05-09',
endDate:'2024-05-16'
});">
	<p layout-margin layout-align="center center">
		<md-icon md-svg-icon="action:ic_announcement_24px" aria-label="announcement"></md-icon>
		Avoid replacement fees! Return your library materials by May 16. <a href="https://answers.library.losrios.edu/scc/faq/407051" target="_blank">More info <lr-ext-link-icon></lr-ext-link-icon></a>
		<md-button class="md-raised" ng-click="$ctrl.hideAnnounce();">
			Hide this announcement
			<md-icon md-svg-icon="navigation:ic_close_24px" aria-label="Close"></md-icon>
		</md-button>
	</p>
</md-content>