<div id="lr-browse-screen" layout="column" layout-align="center" flex-xs flex-gt-xs="80" flex-gt-sm="40" class="lr-single-column-card" ng-hide="$ctrl.hideOnResults()">
	<md-card class="default-card" ng-if="$ctrl.showExplanation('callnumber');">
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">Browse by Call Number</span>
			</md-card-title-text>
		</md-card-title>
		<md-card-content>
			<p>Enter part or all of a Library of Congress (LC) call number to find items in the library (such as books, DVDs, etc.)</p>


			<p>Examples:</p>
			<ul>
				<li>
					TR
				</li>
				<li>QM</li>
				<li>TR6.U62 W376 2015</li>
				<li>QM23.2 .B53 2010</li>
			</ul>
			<p>Find the letters and titles of the main LC classes in the <a href="https://www.loc.gov/catdir/cpso/lcco/" target="_blank">Library of Congress Classification Outline</a>.</p>
		</md-card-content>
	</md-card>
	<md-card class="default-card" ng-if="$ctrl.showExplanation('subject');">
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">Browse by Subject</span>
			</md-card-title-text>
		</md-card-title>
		<md-card-content>
			<p>Enter an LC subject heading to find associated items held by the library.</p>
			<p>Examples:</p>
			<ul>
				<li>
					Developmental Psychology
				</li>
				<li>Political Theory</li>
				<li>Human Anatomy
				</li>
				<li>Photography
				</li>
			</ul>
			<p>The Library of Congress lists current subject headings in <a href="https://www.loc.gov/aba/publications/FreeLCSH/freelcsh.html" target="_blank">freely available PDF files</a>.</p>
		</md-card-content>
	</md-card>
</div>