<footer id="footer">
	<!-- top footer; edited college by college -->
	<div layout="row" layout-xs="column" id="top-footer" class="lr-footer">
		<div layout="column" flex="">
			<h2>More Resources</h2>
			<div class="lr-dbs">
				<ul>
					<li><a href="{{$ctrl.browseURL}}">Browse by Call Number or Subject</a></li>
					<li><a href="https://ezproxy.losrios.edu/login?url=https://search.ebscohost.com/login.aspx?authtype=ip%2Cuid&amp;profile=eds" target="_blank">EBSCO Discovery</a></li>
					<li><a href="https://ezproxy.losrios.edu/login?url=https://infotrac.galegroup.com/itweb?db=GVRL" target="_blank">Gale eBooks</a></li>
					<li><a href="https://www.library.losrios.edu/resources/databases/index.php?category=news" target="_blank">Newspaper Databases</a></li>
					<li><a href="https://www.library.losrios.edu/resources/databases/index.php?category=video" target="_blank">Video Databases</a></li>
				</ul>
			</div>
		</div>
		
		<div layout="column" flex="">
			<h2>Research Help</h2>
			<ul>
				<li><a href="https://researchguides.crc.losrios.edu/?b=g&d=a" target="_blank">Research Guides</li>
				<li><a href="https://www.crc.losrios.edu/student-resources/library/research/research-tutorials" target="_blank">Research Tutorials</a></li>
				<li><a href="https://www.crc.losrios.edu/student-resources/library/research/handouts-forms-and-citation-help" target="_blank">Citation Help</a></li>
				<li><a href="https://crc-losrios.libcal.com/appointments" target="_blank">Research Appointments</a></li>
				<li>Call a Librarian (916) 691-7265</li>
			</ul>
		</div>
		
		<div layout="column" flex="">
			<h2>Contact Us</h2>
			<ul>
				<li>General Library Info (916) 691-7266</li>
				<li>Email <a href="mailto:library@crc.losrios.edu">library@crc.losrios.edu</a></li>
				<li>Monday to Thursday: 7:30 am to 8:00 pm</li>
				<li>Friday: 7:30 am to 4:00 pm</li>
				<li>Saturday: 10:00 am to 4:00 pm</li>
				<li>Sunday: Closed</li>
			</ul>
			<!--<p><a href="https://www.crc.losrios.edu/student-resources/library/about/library-hours" target="_blank">More about hours</a></p>-->
		</div>
	</div>
	<!-- subfooter; see js file for content -->
	<div id="subfooter" class="lr-footer">
		<div layout="row" layout-align="center" layout-align-xs="start" flex="" id="lr-libraries-logo"><img src="{{$ctrl.LRLogoSrc}}" alt="Los Rios Libraries"></div>
		<div layout="row" layout-xs="column">
			<div class="lr-ft-college-column" layout="column"  flex="" ng-repeat="lib in $ctrl.libraries">
				<div class="lr-ft-college">
				<div><a href="https://www.{{lib.abbr}}.losrios.edu/{{lib.path}}">{{lib.name}} College Library</a></div>
				<div>{{lib.phone}}</div>	
				</div>
				
				<div class="lr-centers">
					<p ng-if="lib.center">
						<a ng-if="lib.cpath" href="https://www.{{lib.abbr}}.losrios.edu/{{lib.cpath}}">{{lib.center}}</a>
						<a ng-if="lib.centerurl" href="{{lib.centerurl}}">{{lib.center}}</a> <!-- to cover arc -- should find better way of doing this -->
					</p>
					<ul ng-if="lib.centers">
						<li ng-repeat="cent in lib.centers">
							<a href="https://www.{{lib.abbr}}.losrios.edu/{{cent.cpath}}">{{cent.center}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>