<footer id="footer" ng-if="::$ctrl.isAlmaD===-1" ng-show="$ctrl.checkForContent();" >
	<!-- top footer; edited college by college -->
	<div layout="row" layout-xs="column" id="top-footer" class="lr-footer">
		<div layout="column" flex="">
			<h2>More Resources</h2>
			<div class="lr-dbs">
				<ul>
					<li><a class="arrow-link" zero-margin="" ng-href="{{::$ctrl.browseURL}}" ng-click="$ctrl.scrollUp();">Browse by Call Number or Subject<prm-icon link-arrow="" icon-type="svg" svg-icon-set="primo-ui" icon-definition="chevron-right"></prm-icon></a></li>
					<li><a href="https://crclosrios.idm.oclc.org/login?url=https://search.ebscohost.com/login.aspx?authtype=ip%2Cuid&amp;profile=all" target="_blank">EBSCO Search</a></li>
					<li><a href="https://crclosrios.idm.oclc.org/login?url=https://infotrac.galegroup.com/itweb?db=GVRL" target="_blank">Gale eBooks</a></li>
					<li><a href="https://researchguides.crc.losrios.edu/az/databases/?t=52270" target="_blank">Newspaper Databases</a></li>
					<li><a href="https://researchguides.crc.losrios.edu/az/databases/?t=55411" target="_blank">Video Databases</a></li>
				</ul>
				<!-- CRC not using ask us link -->
			</div>
		</div>
		
		<div layout="column" flex="">
			<h2>Research Help</h2>
			<ul>
				<li><a href="https://researchguides.crc.losrios.edu/?b=g&d=a" target="_blank">Research Guides</a></li>
				<li><a href="https://crc.losrios.edu/student-resources/library/research/research-tutorials" target="_blank">Research Tutorials</a></li>
				<li><a href="https://crc.losrios.edu/student-resources/library/research/handouts-forms-and-citation-help" target="_blank">Citation Help</a></li>
				<li><a href="https://crc-losrios.libcal.com/appointments" target="_blank">Research Appointments</a></li>
				<li>Call a Librarian (916) 691-7265</li>
			</ul>
		</div>
		
		<div layout="column" flex="">
			<h2>Library Hours</h2>
			<ul>
				<li><a href="https://crc.losrios.edu/student-resources/library/about-the-library/library-hours" target="_blank">Open hours</a></li>
				<li><a href="https://answers.library.losrios.edu/crc/faq/274345" target="_blank">More about services</a></li>
				<li><a href="https://answers.library.losrios.edu/crc/faq/335489" target="_blank">Request a book</a></li>
			</ul>
			<p>Connect with a CRC Librarian via Ask a Librarian and <a href="https://crc-losrios.libcal.com/appointments" target="_blank">research appointments <lr-ext-link-icon></lr-ext-link-icon></a>.</p>
       </div>

	</div>
	<!-- subfooter; see js file for content -->
	<div id="subfooter" class="lr-footer">
		<div layout="row" layout-align="center" layout-align-xs="start" flex="" id="lr-libraries-logo"><img loading="lazy" ng-src="{{::$ctrl.LRLogoSrc}}" alt="Los Rios Libraries"></div>
		<div layout="row" layout-xs="column">
			<div class="lr-ft-college-column" layout="column"  flex="" ng-repeat="lib in ::$ctrl.libraries">
				<div class="lr-ft-college">
				<div><a ng-href="https://{{::lib.abbr}}.losrios.edu/{{::lib.path}}">{{::lib.name}} College Library</a></div>
				<div><a ng-href="tel:+1-916-{{::lib.phone}}">(916) {{::lib.phone}}</a></div>	
				</div>
			</div>
		</div>
	</div>
</footer>