<div ng-repeat="note in ::$ctrl.notes" >
    <div class="lr-note" ng-if="((note.views.indexOf($ctrl.currentView)>-1 ||note.views==='')&& (note.remainingTime > 0))">
        <div ng-class="note.noteType" >
            <span ng-if="::note.noteText">
                <span ng-bind-html="::note.noteText"> </span>
            </span>
            <a ng-if="::(note.url && note.linkText)" ng-href="{{::note.url}}" target="_blank">{{note.linkText}}
                <lr-ext-link-icon><lr-ext-link-icon>
            </a>
        </div>
    </div>
</div>
