<!-- lrShowAnnounce takes an object as argument. endDate stops the banner from showing past certain date, include string as argument in form 'm-d-yyyy', e.g. $ctrl.lrShowAnnounce({endDate : '11-3-2020'}) This would mean the announcemnt would stop showing on November 4 2020
startDate uses the same format and delays starting to show the announcement until that date.
cookieID is optional but recommended when you change the announcement to ensure that settings from a previous announcement don't interfere
daysToHide is a number; if you leave it out, it will be hidden for 14 days.
-->
<!--<md-content id="top-announce" ng-class="$ctrl.fade" ng-if="$ctrl.lrShowAnnounce({
})">
	<p layout-margin layout-align="center center">
		<md-icon md-svg-icon="action:ic_announcement_24px" aria-label="announcement"></md-icon>
		Library services continue online during COVID-19-related closures.
		<a ng-href="{{$ctrl.refPage}}" target="_blank">Find out more.</a>
		<md-button class="md-raised" ng-click="$ctrl.lrHideAnnounce({
			})" aria-label="close">Hide this announcement
			<md-icon md-svg-icon="navigation:ic_close_24px"></md-icon>
		</md-button>
	</p>
</md-content>-->