::selection {background:#999; color:#fff;}
/* hide underlining on phone links on desktop/laptop */
a[href^="tel:"] {text-decoration: none !important; color:inherit;}
/* used for nested spans in labels. spans cannot contain block-level elements as children */
.lr-linebreak {display:block; line-height:1.5em;}

/* Hide sign-in link */
.alert-bar {
	display:none;
	}

/* but show it for item requests 
prm-request-services .alert-bar {
	display:flex;
}
*/

/* Hide expand my results */
md-checkbox[aria-label="Expand My Results"] {
	display:none;
	}

/* Hide facet Open access */
div[data-facet-value="tlevel-open_access"] {
	display:none !important;
	}

/* Hide request services for closure */
prm-request-services {
	display:none;
	}
	
/* Hide sign-in link for item requests for closure */
prm-request-services .alert-bar {
	display:none;
	}

/* hide Browse on Links Menu so that we can have it active, will link elsewhere. note for mobile this must be the last menu item */
div[data-main-menu-item="BrowseSearch"], .main-menu-button:last-child {
	display:none;
	}

/* Branding and Design*/

/* Increase height of top menu bar*/
prm-topbar {
	height: 90px;
	position: relative;
}
/* Increase font size for Links Menu*/
#mainMenu {
	font-size: 1.2em;
}

/* Change text color to dark college color for top bar*/
div.top-nav-bar * {
    color: #003057 !important;
}
/* Change background color to white for top bar*/
.prm-background, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-topbar .top-nav-bar, prm-search-bar.prm-hue1, prm-atoz-search-bar.prm-hue1, prm-browse-search-bar.prm-hue1, prm-tags-search-bar.prm-hue1, prm-newspapers-search-bar.prm-hue1, prm-collection-gallery-header .prm-hue1.collection-header-inner, prm-tree-nav prm-spinner .prm-hue1.diamond {
    background-color: #ffffff; 
	}

/* Change background color to dark college color for bar surrounding search bar*/
.prm-primary-bg, prm-spinner.overlay-cover.light-on-dark:after, prm-search-bar, prm-atoz-search-bar, prm-browse-search-bar, prm-tags-search-bar, prm-newspapers-search-bar, prm-collection-gallery-header .collection-header-inner, prm-tree-nav prm-spinner .diamond {
  background-color: #003057; 
  }
/* announcement below search bar, if used */
#top-announce {text-align:center; font-size:1.3rem;}
	/* lighten card background */
md-card.default-card {background:#fafafa;}
/* other card adjustments */
md-card-content a {text-decoration: underline;}
md-card-content a:hover, md-card-content a:focus {text-decoration: none;}
md-card-title h2, .md-headline {font-weight:500;}

 /* custom OneSearch logo */
.search-wrapper {margin-left:25%}
.search-wrapper .flex-lg-10 {display:none}
.search-wrapper .flex-lg-65 {max-width:80%}
#lr-onesearch {width:25%;text-align:right;top:23px;position:absolute;z-index:99999}
/* adjust for advanced search */
.advanced-search-backdrop.visible + prm-search-bar-after #lr-onesearch button {background:#999; padding-top:10px; right:2px;}
  
/* remove tooltips from links menu in main and mobile views */
.multi-row-tooltip, .custom-links-container .md-subhead {
	display:none;
	}
/* show links menu on openUrl page */
prm-main-menu.isServicePage {display:unset;}

/* Change search bar magnifying glass color to secondary college color and shades for hover color. Note: Primo Studio can be helpful for this using the "positive" color option to get hover shades. But need to only copy this section after downloading package as it also changes the Available online color*/
  .md-button.button-confirm, .service-form-static-panel button.button-confirm prm-icon + span, .service-form-static-panel button.button-confirm prm-icon svg path {
    color: #BA0C2F; }
    .md-button.button-confirm:hover:not([disabled]), .service-form-static-panel button.button-confirm prm-icon + span:hover:not([disabled]), .service-form-static-panel button.button-confirm prm-icon svg path:hover:not([disabled]), .md-button.button-confirm:focus:not([disabled]), .service-form-static-panel button.button-confirm prm-icon + span:focus:not([disabled]), .service-form-static-panel button.button-confirm prm-icon svg path:focus:not([disabled]), .md-button.button-confirm.hovered:not([disabled]), .service-form-static-panel button.button-confirm prm-icon + span.hovered:not([disabled]), .service-form-static-panel button.button-confirm prm-icon svg path.hovered:not([disabled]), .md-button.button-confirm.md-focused:not([disabled]), .service-form-static-panel button.button-confirm prm-icon + span.md-focused:not([disabled]), .service-form-static-panel button.button-confirm prm-icon svg path.md-focused:not([disabled]), .md-button.button-confirm._md-focused:not([disabled]), .service-form-static-panel button.button-confirm prm-icon + span._md-focused:not([disabled]), .service-form-static-panel button.button-confirm prm-icon svg path._md-focused:not([disabled]) {
      color: #600013;
      background-color: rgba(186, 12, 47, 0.1); }

/* Change background color to white for container, etc.*/
.prm-background, html, body, prm-search .ui-blocker, prm-featured-results .horizontal-content-container .horizontal-content-control, prm-search-bar .simple-search-wrapper .search-options:after, prm-atoz-search-bar .simple-search-wrapper .search-options:after, prm-browse-search-bar .simple-search-wrapper .search-options:after, prm-tags-search-bar .simple-search-wrapper .search-options:after, prm-newspapers-search-bar .simple-search-wrapper .search-options:after, prm-search-bar .simple-search-wrapper .search-options md-divider, prm-atoz-search-bar .simple-search-wrapper .search-options md-divider, prm-browse-search-bar .simple-search-wrapper .search-options md-divider, prm-tags-search-bar .simple-search-wrapper .search-options md-divider, prm-newspapers-search-bar .simple-search-wrapper .search-options md-divider, .prm-view-overlay-inner, .__xs prm-facet,
.__sm prm-facet, .__sm .sidebar,
.__xs .sidebar, .available-facets .section-content .md-chips .md-chip .md-button:before, .multiselect-submit .multiselect-submit-inner, prm-full-view-cont prm-recomendation-item .media-on-hover .pin-button, prm-full-view-cont .recommendations-title:after, prm-full-view-cont .recommendations-title prm-icon, prm-databases-categorize .sticking-wrapper, md-virtual-repeat-container#prm-simple-search .md-autocomplete-suggestions md-divider, md-dialog md-toolbar:not(.md-menu-toolbar), md-card .card-content-block, .full-view-inner-container {
  background-color: #ffffff; }
/* home page video */
#lr-onesearch-vid-headline {position:absolute; left:-999999px;}
#lr-onesearch-vid-container {overflow: hidden; padding-top: 56.25% !important;position: relative;}
#lr-onesearch-vid {border: 0; height: 100%;left: 0;position: absolute;top: 0; width: 100%;}
/* change appearance of search query terms in search results */
mark {box-shadow:none; font-weight:bold;}

/* create space between items on brief results page */
.list-item-wrapper {margin-bottom:6px;}
.list-item-wrapper:hover, .list-item-wrapper:focus {border-bottom-style:none;}
/* provide labels for call numbers */
.availability-line-parenthesis:first-child::after, span[ng-if*="location.callNumber"]:last-of-type::before {content: 'Call number: ';}
/* emphasize call numbers in brief results */
.availability-line-parenthesis:first-child::after, .best-location-delivery.locations-link {font-weight: 600;}
/* call numbers in full display */
/* hide semicolon since we are putting call number on separate line */
span[ng-if*="location.subLocation"] + span[ng-if*="location.callNumber"]{ color: transparent;}
/* move call number to next line */
span[ng-if*="location.subLocation"] + span[ng-if*="location.callNumber"]::after { display:block; content: '';}

/* hide frbr/dedup line in brief results only */
prm-search-result-frbr-line {display:none;}
#full-view-container prm-search-result-frbr-line {display: initial;}
/* hide course badge */
.prm-course {display: none !important;}		
/* hide citation features in brief record; will still show in full record */
prm-citation-trails-indication-container {display:none;}

/* create space between metadata fields in full record */
#item-details .layout-row {margin-bottom: 10px;}
/* position problem reporter button to the right */
#lr-problem-reporter {position: absolute; right:0;}
/* hide search within journal service */
#searchWithinJournal {display:none;}

/* hide 856 links in full record */
div[ng-repeat="link in $ctrl.getLinks()"] {display:none;}
/* put request prompt after holdings table */
prm-opac{ display: flex; flex-direction: column;}
prm-opac > div {order:2!important}
prm-opac > .tabs-as-app {order:1!important}

/* bump up prominence of full-text and ILL links */
prm-alma-viewit-items h3 a, a[href*="interlibrary-loan"] {text-decoration:underline; font-size:120%;}
prm-alma-viewit-items h3 a:hover, prm-alma-viewit-items h3 a:focus, a[href*="interlibrary-loan"]:hover, a[href*="interlibrary-loan"]:focus {text-decoration: none;}
/* hide coverage statement in ViewIt */
prm-alma-viewit-items h4 {display:none;}
/* but show for journals */
#searchWithinJournal + .full-view-section prm-alma-viewit-items h4, prm-journals-full-view prm-alma-viewit-items h4 {display:block;}

/* booking/request area */
/* hide request heading and make request button more button-like in appearance */
prm-request-services h3.section-title {position:absolute !important; left:-999999px;} 
prm-service-button .button-as-link.md-button { border: 1px solid #003057; border-radius: 10px;  padding: 4px 20px; text-transform: uppercase; background-color: #003057;color: #fff;}

/* hide terms of use selection icon */
md-select[name="termsOfUse"] ._md-select-icon {display:none;}
/* allow full Loan period label to show */
label[translate="almaRequest.termsOfUse"] {overflow: visible !important;}
/* hide lock icon in loan period */
form[name="requestForm"] prm-icon[icon-definition="lock"] {display:none;}
/* fix problem where delivery locations at bottom of list can't be scrolled to */
md-select-menu._md-overflow {max-height: unset;}

#public-note, span[ng-bind="item.authNote"] {color:#3a3a3a; font-style: normal;}

/* footer styles */
#footer {background:#014c8d;  border-top:1px solid #ccc; color:#fff;}
#footer a, #footer a:visited {color:#fff; text-decoration: underline;}
#footer a:hover, #footer a:focus {text-decoration: none;}
#footer ul {padding-left: 0; list-style-type: none;}
.lr-footer {padding:20px 20%;}
#top-footer p:first-of-type {margin-top:15px;}
#subfooter {background:#000;}
#subfooter a {color:#fff; background: transparent; box-shadow: none;}
.lr-ft-college {min-height:50%;}
.lr-centers p {margin-top:15px;}
#lr-libraries-logo {margin-bottom:20px;}
/* chat widget */
.s-lch-widget-float {right:80px !important;}
.s-lch-widget-float-btn {background: #fff !important;}

.lr-single-column-card {margin:auto;}

@media screen and (max-width:960px) {
	.search-wrapper {margin-left: 0;}
	.search-wrapper .flex-lg-65 {max-width:100%;}
	a[href^="tel:"] {text-decoration: underline !important;}
	a[href^="tel:"]:hover, a[href^="tel:"]:focus {background:transparent; box-shadow: none; text-decoration: none;}
	.lr-footer {padding: 20px;}
}


@media only screen and (max-width: 600px) {
	/* Frame search input for mobile viewers */
.prm-primary-bg, prm-spinner.overlay-cover.light-on-dark:after, prm-search-bar, prm-atoz-search-bar, prm-browse-search-bar, prm-tags-search-bar, prm-newspapers-search-bar, prm-collection-gallery-header .collection-header-inner, prm-tree-nav prm-spinner .diamond {
  border: 1px solid #ccc;
  box-shadow: 0px 0px 4px #ccc;
	}
	.lr-ft-college-column {margin-bottom:2em;}
	.lr-ft-college {min-height: auto;}
}