<!-- this template is used for lrNewbooksDisplay. It does not require per-college editing and does not do anything if the component is absent -->
<div layout="row" ng-if="$ctrl.bookList">
	<md-card class="default-card" flex>
		<md-card-title>
			<md-card-title-text>
				<h2 class="md-headline">{{::$ctrl.cardName}}</h2>
			</md-card-title-text>
		</md-card-title>
		<md-card-content>
			<div>
				<ul layout="row" layout-wrap>
					<!-- Analytics report columns
					Column1: Material type code
					Column3: ISBN or other identifier
					Column 4: MMS Id, truncated
					Column 5: Title (Complete) -->
					<li layout-margin ng-repeat="book in $ctrl.bookList" ng-class="[$ctrl.itemFormat(book.Column1), $ctrl.varyFlex(book.Column3), $ctrl.checkIdentifier(book.Column3)]" ng-attr-id="{{::$ctrl.makeId(book.Column3)}}">
						<a ng-attr-title="{{::book.Column5}}" ng-href="/discovery/fulldisplay?docid=alma{{::book.Column4}}5325&amp;context=L&amp;vid=01CACCL_LRCCD:{{::$ctrl.colAbbr}}&amp;search_scope={{::$ctrl.colAbbr}}_everything&amp;adaptor=Local Search Engine&amp;tab=everything">
							<img loading="lazy" ng-src="{{::$ctrl.imgSrc(book.Column3);}}" alt="{{::book.Column5}}" ng-init="$ctrl.checkImg('lr_' + book.Column3);" onerror="this.src='https://via.placeholder.com/140x160';">
							<md-icon class="lr-play-vid" md-svg-icon="av:ic_play_circle_outline_24px"></md-icon>
							<span class="lr-newbook-title" ng-bind-html="::$ctrl.truncateTitle(book.Column5)"></span>
						</a>
					</li>
				</ul>
				<md-button ng-if="$ctrl.showButton();" ng-click="$ctrl.addBooks();">
					<md-icon md-svg-icon="navigation:ic_expand_more_24px"></md-icon> View more items
				</md-button>
			</div>
		</md-card-content>
	</md-card>
</div>