<div layout-align="center center" layout="row" flex style="background:#fff; padding:8px;">
	<!-- copy-paste the paragraph and fill in record and library values to adapt to other bibs/locations -->
	<p ng-if="$ctrl.showNote({
	'record':'991002030019805325',
	'library': 'SCC'});" >
	<strong>Not all Chromebooks come with a charger.</strong> Circulation staff will contact you if no chargers are available.
	</p>
	<p ng-if="$ctrl.showNote({
		'record':'(991002175288105325|991002175287905325|991002171988505325|991002175288005325|991002175287805325)',
		'library': 'SCC'});" >
		<strong>Students must sign a supplementary laptop borrowing agreement in order to borrow this item.</strong> Laptops must be borrowed at the Circulation Desk; no locker delivery.
	</p>
</div>