<!-- notes pertaining to particular locations with unusual limitations or requirements. Add objects as needed to cover particular locations. moreInfo property may be ommitted if you don't want to provide a link. -->
<div ng-repeat="note in [
{
    'locCode': 'svraza',
    'text': 'The RAZA Center Course Collection is available to students who are affiliated with the RAZA Center.',
    'moreInfo': 'https://scc.losrios.edu/student-resources/cultural-engagement-centers/raza-center'
},
{
    'locCode': 'svashe',
    'text': 'The ASH&#201; Center Course Collection is available to students who are affiliated with the ASH&#201; Center.',
    'moreInfo': 'https://scc.losrios.edu/student-resources/cultural-engagement-centers/ashe-center'
},
{
    'locCode': 'selap',
    'text': '<strong>Students must sign a supplementary laptop borrowing agreement in order to borrow this item.</strong> Laptops must be borrowed at the Circulation Desk; no locker delivery.<br>Loan period may show \as <i>Library use only</i> until borrowing agreement is signed.'
},
{
    'locCode': 'scbk',
    'text': 'Access to the third floor at SCC is limited while building maintenance is being performed.',
    'moreInfo': 'https://answers.library.losrios.edu/scc/faq/408701'
}
]">
    <div ng-if="::$ctrl.locationCode.indexOf(note.locCode)===0">
        <div class="md-list-item-text" layout="row" flex="">
            <md-icon md-svg-icon="action:ic_info_outline_24px" layout="column" class="margin-right-small margin-left-small" aria-label="Information"></md-icon>
            <em ng-bind-html="::note.text"></em>
        </div>
        <div class="md-list-item-text" ng-if="::note.moreInfo" style="margin-left:3rem; padding-top:0;">
            <a ng-href="{{::note.moreInfo}}" target="_blank">Learn more <lr-ext-link-icon></lr-ext-link-icon>
            </a>
        </div>
        <div ng-if="::!note.moreInfo" style="margin-bottom:1rem;"></div>
    </div>
</div>