<div layout-align="center center" layout="row" flex style="background:#fff; padding:8px;">
	<!-- copy-paste the paragraph and fill in record and library values to adapt to other bibs/locations -->
	<p ng-if="$ctrl.showNote({
	'record':'991002030019805325',
	'library': 'SCC'});" >
	<strong>Not all Chromebooks come with a charger.</strong> Circulation staff will contact you if no chargers are available.
	</p>
	<p ng-if="$ctrl.showNote({
		'library': 'ARC'});" >
		<strong>The ARC Library is temporarily closed.</strong> Items showing as available at the ARC library are not currently available. <a href="https://arc.losrios.edu/student-resources/library#closure" target="_blank">More info <md-icon md-svg-icon="action:ic_launch_24px" aria-label="Open in new tab" style="min-height: 16px;height:16px;"></md-icon></a>
	</p>
</div>