<footer id="footer" ng-if="::$ctrl.isAlmaD===-1" ng-show="$ctrl.checkForContent();" >
	<!-- top footer; edited college by college -->
	<div layout="row" layout-xs="column" id="top-footer" class="lr-footer">
		<div layout="column" flex="">
			<h2>More Resources</h2>
			<div class="lr-dbs">
				<ul>
					<li><a class="arrow-link" zero-margin="" ng-href="{{::$ctrl.browseURL}}" ng-click="$ctrl.scrollUp();">Browse by Call Number or Subject<prm-icon link-arrow="" icon-type="svg" svg-icon-set="primo-ui" icon-definition="chevron-right"></prm-icon></a></li>
					<li><a href="https://caccl-lrccd.primo.exlibrisgroup.com/discovery/collectionDiscovery?vid=01CACCL_LRCCD:flc&collectionId=8189463160005325">FLC Collections</a></li>
					<li><a href="https://flclosrios.idm.oclc.org/login?url=https://search.ebscohost.com/login.aspx?authtype=ip%2Cuid&amp;profile=all" target="_blank">EBSCO Search</a></li>
					<li><a href="https://flclosrios.idm.oclc.org/login?url=https://infotrac.galegroup.com/itweb?db=GVRL">Gale eBooks</a></li>
					<li><a href="https://researchguides.flc.losrios.edu/az/databases/?t=14157" target="_blank">Newspaper Databases</a></li>
					<li><a href="https://researchguides.flc.losrios.edu/az/databases/?t=14161" target="_blank">Video Databases</a></li>
				</ul>
				<p ng-if="$ctrl.askUs">
					<md-icon md-svg-icon="action:ic_help_24px"></md-icon> Not sure where to start?
					<a href="{{::$ctrl.askUs}}">
						Ask Us. <lr-ext-link-icon></lr-ext-link-icon>
					</a>
				</p>
			</div>
		</div>
		<div layout="column" flex="">
			<h2>Research Help</h2>
			<ul>
				<li><a href="https://researchguides.flc.losrios.edu/?b=s" target="_blank">Research Guides</li>
				<li><a href="https://flc.losrios.edu/research-appointments/research-appointments/research-appointments/research-appointments" target="_blank">Research Appointments</a>
				<li><a href="https://flc.losrios.edu/student-resources/library/research/research-tutorials" target="_blank">Research Tutorials</a></li>
				<li><a href="https://flc.losrios.edu/student-resources/library/research/citation-help" target="_blank">Citation Help</a></li>
			</ul>
		</div>
		<div layout="column" flex="">
			<h2>Visit the Library</h2>
			<p>Check out books, get research help, use a study room, or recharge between classes.</p>
			<p><a href="https://flc.losrios.edu/student-resources/library/about-the-library/library-hours" target="_blank">Library hours <lr-ext-link-icon></lr-ext-link-icon></a></p>
		</div>
	</div>
	<!-- subfooter; see js file for content -->
	<div id="subfooter" class="lr-footer">
		<div layout="row" layout-align="center" layout-align-xs="start" flex="" id="lr-libraries-logo"><img loading="lazy" ng-src="{{::$ctrl.LRLogoSrc}}" alt="Los Rios Libraries"></div>
		<div layout="row" layout-xs="column">
			<div class="lr-ft-college-column" layout="column"  flex="" ng-repeat="lib in ::$ctrl.libraries">
				<div class="lr-ft-college">
				<div><a ng-href="https://{{::lib.abbr}}.losrios.edu/{{::lib.path}}">{{::lib.name}} College Library</a></div>
				<div><a ng-href="tel:+1-916-{{::lib.phone}}">(916) {{::lib.phone}}</a></div>	
				</div>
			</div>
		</div>
	</div>
</footer>