<!-- documentation: https://answers.library.losrios.edu/lrcq/faq/343616 -->
<md-content ng-class="$ctrl.hideBlock">
	<!-- First block here should not be edited. It retrieves urgent system alerts from LibAnswers and will preempt any banners below-->
		<div ng-if="$ctrl.systemAlert" ng-class="[$ctrl.fade, $ctrl.alertHidden]">
			<p layout-margin layout-align="center center">
				<md-icon md-svg-icon="action:ic_announcement_24px" aria-label="announcement"></md-icon>
				{{::$ctrl.question}}. <a ng-href="{{::$ctrl.url}}" target="_blank">More info <lr-ext-link-icon></lr-ext-link-icon></a>
				<md-button class="md-raised" ng-click="$ctrl.hideAnnounce();">
					Hide this alert
					<md-icon md-svg-icon="navigation:ic_close_24px" aria-label="Close"></md-icon>
				</md-button>
			</p>
		</div>
	<!-- Edit your own below this comment -->
	
	<div ng-class="$ctrl.fade" ng-if="$ctrl.showAnnounce({
	startDate: '2025-08-25',
	endDate: '2025-09-10',
	cookieID: 'tempHours',
	daysToHide: 10
	});">
		<p layout-margin layout-align="center center">
		<!--<md-icon md-svg-icon="action:ic_announcement_24px" aria-label="announcement"></md-icon>-->
			Main campus library hours temporarily reduced. Please check our <a href="https://flc.losrios.edu/student-resources/library/about-the-library/library-hours" target="_blank">hours page</a> before visiting.
			<md-button class="md-raised" ng-click="$ctrl.hideAnnounce();">
			Hide this announcement<md-icon md-svg-icon="navigation:ic_close_24px" aria-label="Close"></md-icon>
			</md-button>
		</p>
	</div>
	
	<div ng-class="$ctrl.fade" ng-if="$ctrl.showAnnounce({
	startDate: '2025-12-11',
	endDate: '2025-12-19',
	cookieID: 'itemsDue',
	daysToHide: 10
	});">
		<p layout-margin layout-align="center center">
		<!--<md-icon md-svg-icon="action:ic_announcement_24px" aria-label="announcement"></md-icon>-->
			Library items are due back by Thursday, December 18. <a href="https://answers.library.losrios.edu/flc/faq/327551" target="_blank">Where can I return library items?</a>
			<md-button class="md-raised" ng-click="$ctrl.hideAnnounce();">
			Hide this announcement<md-icon md-svg-icon="navigation:ic_close_24px" aria-label="Close"></md-icon>
			</md-button>
		</p>
	</div>

</md-content>