::selection {background:#999; color:#fff;}
.lr-fadeout {opacity: 0; transition: opacity 0.3s linear;}
/* hide underlining on phone links on desktop/laptop */
a[href^="tel:"] {text-decoration: none !important; color:inherit;}
/* used for nested spans in labels. spans cannot contain block-level elements as children */
.lr-linebreak {display:block; line-height:1.5em;}

/* Hide sign-in link */
.alert-bar {
	display:none;
	}

/* but show it for item requests */
prm-request-services .alert-bar {
	display:flex;
}
prm-alma-viewit .alert-bar {
	display:flex;
}
/* Move expand my results to bottom of facets */
#facets .sidebar-inner-wrapper {display: flex;}
.switch-results {order:20; padding:20px 0;}
/* Hide facet Open access */
div[data-facet-value="tlevel-open_access"] {
	display:none !important;
	}

/* hide Browse on Links Menu so that we can have it active, will link elsewhere. note for mobile this must be the last menu item */
div[data-main-menu-item="BrowseSearch"], .main-menu-button:last-child {
	display:none;
	}
	
/* Branding and Design*/

/* Increase height of top menu bar*/
prm-topbar {
	height: 90px;
	position: relative;
}
/* Increase font size for Links Menu*/
#mainMenu {
	font-size: 1.2em;
}

/* Change text color to dark college color for top bar*/
div.top-nav-bar * {
    color: #743182 !important;
}

/* Change background color to white for top bar*/
.prm-background, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-topbar .top-nav-bar, prm-search-bar.prm-hue1, prm-atoz-search-bar.prm-hue1, prm-browse-search-bar.prm-hue1, prm-tags-search-bar.prm-hue1, prm-newspapers-search-bar.prm-hue1, prm-collection-gallery-header .prm-hue1.collection-header-inner, prm-tree-nav prm-spinner .prm-hue1.diamond {
    background-color: #ffffff; 
	}

/* Hover shades for top bar and advanced search with college color*/
.md-button.button-over-dark:not(.disable-hover):focus:not([disabled]):focus:not([disabled]), .md-button.button-over-dark:not(.disable-hover):focus:not([disabled]):hover:not([disabled]), .md-button.button-over-dark:not(.disable-hover):hover:not([disabled]):hover:not([disabled]), .md-button.button-over-dark:not(.disable-hover):hover:not([disabled]):focus:not([disabled]),prm-topbar .md-button:not(.disable-hover):focus:not([disabled]):focus:not([disabled]), prm-topbar .md-button:not(.disable-hover):focus:not([disabled]):hover:not([disabled]), prm-topbar .md-button:not(.disable-hover):hover:not([disabled]):focus:not([disabled]), prm-topbar .md-button:not(.disable-hover):hover:not([disabled]):hover:not([disabled])
{
    color: #743182;
background-color: #E5E5E5;
}

/* Change background color to dark college color for bar surrounding search bar*/
.prm-primary-bg, prm-spinner.overlay-cover.light-on-dark:after, prm-search-bar, prm-atoz-search-bar, prm-browse-search-bar, prm-tags-search-bar, prm-newspapers-search-bar, prm-collection-gallery-header .collection-header-inner, prm-tree-nav prm-spinner .diamond {
  background-color: #743182; 
  }
		/* fixes for collection header */
	prm-explore-main .header .transparent-top-bar:before {background-color: #fff;opacity: 1;}
	prm-collection-gallery-header .collection-header-inner.has-transparent-topbar {margin-top:0; padding-top:0;}
	prm-collection-gallery-header .collection-info {background:rgba(0,0,0,0.4);}
	/* announcement below search bar, if used */
lr-top-announcement md-content {text-align:center; font-size:1.3rem; color:#000; /*flc*/ background: #94C7D3 !important;}
lr-top-announcement .md-button {color:#000;}
lr-top-announcement a {color:#743182;}
lr-top-announcement a:hover, lr-top-announcement a:focus {box-shadow: inset 0 -2px 0 0 #743182;}
	/* lighten card background */
md-card.default-card {background:#fafafa;}
/* other card adjustments */
md-card-content a {text-decoration: underline;}
md-card-content a:hover, md-card-content a:focus {text-decoration: none;}
md-card-title h2, .md-headline {font-weight:500;}

 /* custom OneSearch logo */
.search-wrapper {margin-left:25%}
.search-wrapper .flex-lg-10 {display:none}
.search-wrapper .flex-lg-65 {max-width:80%}
#lr-onesearch {width:25%;text-align:right;top:23px;padding-right:8px;position:absolute;z-index:99999}
#lr-onesearch a:hover, #lr-onesearch a:focus {
    background-color: #562560;
} 
/* adjust for advanced search */
.advanced-search-backdrop.visible + prm-search-bar-after #lr-onesearch a {background:#999; padding-top:10px; right:2px;}

/* remove tooltips from links menu in main and mobile views */
.multi-row-tooltip, .custom-links-container .md-subhead {
	display:none;
	}
/* show links menu on openUrl page */
prm-main-menu.isServicePage {display:unset;}

/* Change search bar magnifying glass color to secondary college color and shades for hover color. Note: Primo Studio can be helpful for this using the "positive" color option to get hover shades. But need to only copy this section after downloading package as it also changes the Available online color*/
 .md-button.button-confirm, .service-form-static-panel button.button-confirm prm-icon + span, .service-form-static-panel button.button-confirm prm-icon svg path {
    color: #0084AC; }
    .md-button.button-confirm:hover:not([disabled]), .service-form-static-panel button.button-confirm prm-icon + span:hover:not([disabled]), .service-form-static-panel button.button-confirm prm-icon svg path:hover:not([disabled]), .md-button.button-confirm:focus:not([disabled]), .service-form-static-panel button.button-confirm prm-icon + span:focus:not([disabled]), .service-form-static-panel button.button-confirm prm-icon svg path:focus:not([disabled]), .md-button.button-confirm.hovered:not([disabled]), .service-form-static-panel button.button-confirm prm-icon + span.hovered:not([disabled]), .service-form-static-panel button.button-confirm prm-icon svg path.hovered:not([disabled]), .md-button.button-confirm.md-focused:not([disabled]), .service-form-static-panel button.button-confirm prm-icon + span.md-focused:not([disabled]), .service-form-static-panel button.button-confirm prm-icon svg path.md-focused:not([disabled]), .md-button.button-confirm._md-focused:not([disabled]), .service-form-static-panel button.button-confirm prm-icon + span._md-focused:not([disabled]), .service-form-static-panel button.button-confirm prm-icon svg path._md-focused:not([disabled]) {
     color: #003646;
      background-color: rgba(0, 132, 172, 0.1); }

/* Change background color to white for container, etc.*/
.prm-background, html, body, prm-search .ui-blocker, prm-featured-results .horizontal-content-container .horizontal-content-control, prm-search-bar .simple-search-wrapper .search-options:after, prm-atoz-search-bar .simple-search-wrapper .search-options:after, prm-browse-search-bar .simple-search-wrapper .search-options:after, prm-tags-search-bar .simple-search-wrapper .search-options:after, prm-newspapers-search-bar .simple-search-wrapper .search-options:after, prm-search-bar .simple-search-wrapper .search-options md-divider, prm-atoz-search-bar .simple-search-wrapper .search-options md-divider, prm-browse-search-bar .simple-search-wrapper .search-options md-divider, prm-tags-search-bar .simple-search-wrapper .search-options md-divider, prm-newspapers-search-bar .simple-search-wrapper .search-options md-divider, .prm-view-overlay-inner, .__xs prm-facet,
.__sm prm-facet, .__sm .sidebar,
.__xs .sidebar, .available-facets .section-content .md-chips .md-chip .md-button:before, .multiselect-submit .multiselect-submit-inner, prm-full-view-cont prm-recomendation-item .media-on-hover .pin-button, prm-full-view-cont .recommendations-title:after, prm-full-view-cont .recommendations-title prm-icon, prm-databases-categorize .sticking-wrapper, md-virtual-repeat-container#prm-simple-search .md-autocomplete-suggestions md-divider, md-dialog md-toolbar:not(.md-menu-toolbar), md-card .card-content-block, .full-view-inner-container {
  background-color: #ffffff; }
/* home page video */
#lr-onesearch-vid-headline {position:absolute; left:-999999px;}
#lr-onesearch-vid-container {overflow: hidden; padding-top: 56.25% !important;position: relative;}
#lr-onesearch-vid {border: 0; height: 100%;left: 0;position: absolute;top: 0; width: 100%;}

/* change appearance of search query terms in search results */
mark {box-shadow:none; font-weight:bold;}

/*fix ILL link having gray around it in full display, add padding to location heading and make location items in full display white boxes, & "more" menu contrast - from update below*/
alma-howovp div:first-child {background:#fff;}
.full-view-section .section-title {
    line-height: 1.2em;
    padding: 5px;}
md-tab-content .tab-content-header {
    margin-bottom: 1em;
    background-color: #fff;
	padding: 10px;}
prm-main-menu[menu-type=full] .overlay-menu-content>div {background-color: #000000;}
/* White cards with light gray background on homepage and brief results page */
prm-brief-result-container.list-item {background-color: #ffffff;}
md-content, md-content.md-primoExplore-theme {background-color: #F2F2F2;}
prm-brief-result-container.list-item:hover, prm-brief-result-container.list-item:focus {box-shadow: 1px 2px #b9b9b9;}
prm-brief-result-container.list-item {cursor:pointer;}
/* dark background for internal login, normally not used */
prm-login md-content.md-primoExplore-theme {background-color: unset;}
/* create space between items on brief results page */
.list-item-wrapper {margin-bottom:6px;}
.list-item-wrapper:hover, .list-item-wrapper:focus {border-bottom-style:none;}
/* provide labels for call numbers */
.availability-line-parenthesis:first-child::after, span[ng-if*="location.callNumber"]:last-of-type::before {content: 'Call number: ';}
/* emphasize call numbers in brief results */
.availability-line-parenthesis:first-child::after, .best-location-delivery.locations-link {font-weight: 600;}
/* call numbers in full display */
/* hide semicolon since we are putting call number on separate line */
span[ng-if*="location.subLocation"] + span[ng-if*="location.callNumber"]{ color: transparent;}
/* move call number to next line */
span[ng-if*="location.subLocation"] + span[ng-if*="location.callNumber"]::after { display:block; content: '';}

/* hide frbr/dedup line in brief results only */
prm-search-result-frbr-line {display:none;}
#full-view-container prm-search-result-frbr-line {display: initial;}
	
/* hide citation features in brief record; will still show in full record */
prm-citation-trails-indication-container {display:none;}
/* hide publication year in journal search brief results only */
prm-journals span[data-field-selector="creationdate"] {display: none;}
/* create space between metadata fields in full record */
#item-details .layout-row {margin-bottom: 10px;}
/* problem reporter, brief results */
.list-item:hover lr-problem-reporter button, .list-item:focus lr-problem-reporter button {opacity:1;}
lr-problem-reporter {display:flex;}
lr-problem-reporter button {margin:-20px 0 0 0 !important;}
prm-search-result-availability-line-after lr-problem-reporter button {font-size: .8em !important;  opacity: 0;  transition: opacity 0.1s linear !important;}
/* hide search within journal service */
#searchWithinJournal {display:none;}
/* hide full record navigation links */
#services-index {display:none;}
/* compress / set off tools */
#action_list {margin-top:0;}
#action_list .section-head {position:absolute; right:-9999px;}
#action_list .section-body {background: #F2F2F2; padding-top: 0.5em;}
/* reduce margins in various sections in full display */
.full-view-section {margin-top:1em;}
/* hide 856 links in full record */
div[ng-repeat="link in $ctrl.getLinks()"] {display:none;}
/* put request prompt after holdings table */
prm-opac{ display: flex; flex-direction: column;}
prm-opac > div {order:2!important}
prm-opac > .tabs-as-app {order:1!important}
/* improve contrast in link on request confirmation */
#lr-request-success {color: #09337b;}
/* bump up prominence of full-text and ILL links */
prm-alma-viewit-items h5 .item-title, a[href*="interlibrary-loan"] {text-decoration:underline; font-size:22px;}
prm-alma-viewit-items h5 .item-title:hover, prm-alma-viewit-items h5 .item-title:focus, a[href*="interlibrary-loan"]:hover, a[href*="interlibrary-loan"]:focus {text-decoration: none; box-shadow: none;}
/* hide coverage statement in ViewIt */
prm-alma-viewit-items h6.item-status {display:none;}
/* but show for journals */
#searchWithinJournal + .full-view-section prm-alma-viewit-items h6.item-status, prm-journals-full-view prm-alma-viewit-items h6.item-status {display:block;}

/* digital object adjustments*/
/* hide Showing n of n results */
div[translate="ui.viewit.digital_version"] + span {display:none;}
/* reformat viewer heading */
md-list-item[aria-label^="Digital"] h3 {margin-left: -20px !important;}
#denied-note {text-decoration:underline; color: #53738c;}
/* booking/request area */
/* hide request heading and make request button more button-like in appearance */
prm-request-services h3.section-title {position:absolute !important; left:-999999px;} 
prm-service-button .button-as-link.md-button { border: 1px solid #743182; border-radius: 10px;  padding: 4px 20px; text-transform: uppercase; background-color: #743182;color: #fff;}

/* hide terms of use selection icon */
md-select[name="termsOfUse"] ._md-select-icon {display:none;}
/* allow full Loan period label to show */
label[translate="almaRequest.termsOfUse"] {overflow: visible !important;}
/* hide lock icon in loan period */
form[name="requestForm"] prm-icon[icon-definition="lock"] {display:none;}
/* fix problem where delivery locations at bottom of list can't be scrolled to */
md-select-menu._md-overflow {max-height: unset;}
/* hide "No Campus" label and smooth appearance of libraries in it */
md-optgroup[label="No Campus"] md-option {padding-left:16px;}
md-optgroup[label="No Campus"] label {display: none;}
md-optgroup[label="No Campus"] .md-text { font-size:14px; text-transform:uppercase;font-weight: 500;}
/* notes on delivery locations */
prm-opac {position:relative;}
lr-delivery-blurb {position:absolute;top:0; right:0; font-size:1.3em; background: #fff; z-index:9999;}
.lr-highlighted {background: #F9FD88; transition: background-color 0.5s linear;}
.lr-no-highlight {background:#fff;transition: background-color 0.8s linear;}
/* hide "other item" and digitization requests, which should not be showing but are, march 2 2021 */
button[aria-label="Request Issue"], button[aria-label="Request Other Issue"], button[aria-label="General Digitization"] {display: none;}

#public-note, span[ng-bind="item.authNote"] {color:#3a3a3a; font-style: normal;}

/* footer styles */
#footer {background:#0084AC;  border-top:1px solid #204963; color:#fff;}
#footer a, #footer a:visited {color:#fff; text-decoration: underline;}
#footer a:hover, #footer a:focus {text-decoration: none;}
#footer ul {padding-left: 0; list-style-type: none;}
.lr-footer {padding:20px 20%;}
#top-footer p:first-of-type {margin-top:15px;}
#subfooter {background:#204963;}
#subfooter a {color:#fff; background: transparent; box-shadow: none;}
.lr-centers p {margin-top:15px;}
.lr-ft-college {min-height:50%;}
#lr-libraries-logo {margin-bottom:20px;}
/* chat widget */
.s-lch-widget-float {right:80px !important;}
.s-lch-widget-float-btn {background: #fff !important;}

.lr-single-column-card {margin:auto;}
@media screen and (max-width:960px) {
	.search-wrapper {margin-left: 0;}
	.search-wrapper .flex-lg-65 {max-width:100%;}
	a[href^="tel:"] {text-decoration: underline !important;}
	a[href^="tel:"]:hover, a[href^="tel:"]:focus {background:transparent; box-shadow: none; text-decoration: none;}
	.lr-footer {padding: 20px;}
	lr-delivery-blurb {position:static;}
}

  
@media only screen and (max-width: 600px) {
	/* Frame search input for mobile viewers */
.prm-primary-bg, prm-spinner.overlay-cover.light-on-dark:after, prm-search-bar, prm-atoz-search-bar, prm-browse-search-bar, prm-tags-search-bar, prm-newspapers-search-bar, prm-collection-gallery-header .collection-header-inner, prm-tree-nav prm-spinner .diamond {
  border: 1px solid #ccc;
  box-shadow: 0px 0px 4px #ccc;
	}
	.lr-ft-college-column {margin-bottom:2em;}
	.lr-ft-college {min-height: auto;}
}