::selection {background:#999; color:#fff;}
/* Hide sign-in link */
.alert-bar {
	display:none;
	}
/* but show it for item requests */
prm-request-services .alert-bar {
	display:flex;
}
/* Hide expand my results */
md-checkbox[aria-label="Expand My Results"] {
	display:none;
	}

/* Hide facet Open access */
div[data-facet-value="tlevel-open_access"] {
	display:none !important;
	}

/* hide Browse on Links Menu so that we can have it active, will link elsewhere. note for mobile this must be the last menu item */
div[data-main-menu-item="BrowseSearch"], .main-menu-button:last-child {
	display:none;
	}
	
/* Branding and Design*/

/* Increase height of top menu bar*/
prm-topbar {
	height: 90px;
	position: relative;
}
/* Increase font size for Links Menu*/
#mainMenu {
	font-size: 1.2em;
}

/* Change text color to dark college color for top bar*/
div.top-nav-bar * {
    color: #743182 !important;
}

/* Change background color to white for top bar*/
.prm-background, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-topbar .top-nav-bar, prm-search-bar.prm-hue1, prm-atoz-search-bar.prm-hue1, prm-browse-search-bar.prm-hue1, prm-tags-search-bar.prm-hue1, prm-newspapers-search-bar.prm-hue1, prm-collection-gallery-header .prm-hue1.collection-header-inner, prm-tree-nav prm-spinner .prm-hue1.diamond {
    background-color: #ffffff; 
	}

/* Change background color to dark college color for bar surrounding search bar*/
.prm-primary-bg, prm-spinner.overlay-cover.light-on-dark:after, prm-search-bar, prm-atoz-search-bar, prm-browse-search-bar, prm-tags-search-bar, prm-newspapers-search-bar, prm-collection-gallery-header .collection-header-inner, prm-tree-nav prm-spinner .diamond {
  background-color: #743182; 
  }
  
/* Frame search input for mobile viewers */
@media only screen and (max-width: 600px) {
.prm-primary-bg, prm-spinner.overlay-cover.light-on-dark:after, prm-search-bar, prm-atoz-search-bar, prm-browse-search-bar, prm-tags-search-bar, prm-newspapers-search-bar, prm-collection-gallery-header .collection-header-inner, prm-tree-nav prm-spinner .diamond {
  border: 1px solid #ccc;
  box-shadow: 0px 0px 4px #ccc;
	}
}

/* remove tooltips from links menu in main and mobile views */
.multi-row-tooltip, .custom-links-container .md-subhead {
	display:none;
	}

/* Change search bar magnifying glass color to secondary college color and shades for hover color. Note: Primo Studio can be helpful for this using the "positive" color option to get hover shades. But need to only copy this section after downloading package as it also changes the Available online color*/
 .md-button.button-confirm, .service-form-static-panel button.button-confirm prm-icon + span, .service-form-static-panel button.button-confirm prm-icon svg path {
    color: #0084AC; }
    .md-button.button-confirm:hover:not([disabled]), .service-form-static-panel button.button-confirm prm-icon + span:hover:not([disabled]), .service-form-static-panel button.button-confirm prm-icon svg path:hover:not([disabled]), .md-button.button-confirm:focus:not([disabled]), .service-form-static-panel button.button-confirm prm-icon + span:focus:not([disabled]), .service-form-static-panel button.button-confirm prm-icon svg path:focus:not([disabled]), .md-button.button-confirm.hovered:not([disabled]), .service-form-static-panel button.button-confirm prm-icon + span.hovered:not([disabled]), .service-form-static-panel button.button-confirm prm-icon svg path.hovered:not([disabled]), .md-button.button-confirm.md-focused:not([disabled]), .service-form-static-panel button.button-confirm prm-icon + span.md-focused:not([disabled]), .service-form-static-panel button.button-confirm prm-icon svg path.md-focused:not([disabled]), .md-button.button-confirm._md-focused:not([disabled]), .service-form-static-panel button.button-confirm prm-icon + span._md-focused:not([disabled]), .service-form-static-panel button.button-confirm prm-icon svg path._md-focused:not([disabled]) {
     color: #003646;
      background-color: rgba(0, 132, 172, 0.1); }

/* Change background color to white for container, etc.*/
.prm-background, html, body, prm-search .ui-blocker, prm-featured-results .horizontal-content-container .horizontal-content-control, prm-search-bar .simple-search-wrapper .search-options:after, prm-atoz-search-bar .simple-search-wrapper .search-options:after, prm-browse-search-bar .simple-search-wrapper .search-options:after, prm-tags-search-bar .simple-search-wrapper .search-options:after, prm-newspapers-search-bar .simple-search-wrapper .search-options:after, prm-search-bar .simple-search-wrapper .search-options md-divider, prm-atoz-search-bar .simple-search-wrapper .search-options md-divider, prm-browse-search-bar .simple-search-wrapper .search-options md-divider, prm-tags-search-bar .simple-search-wrapper .search-options md-divider, prm-newspapers-search-bar .simple-search-wrapper .search-options md-divider, .prm-view-overlay-inner, .__xs prm-facet,
.__sm prm-facet, .__sm .sidebar,
.__xs .sidebar, .available-facets .section-content .md-chips .md-chip .md-button:before, .multiselect-submit .multiselect-submit-inner, prm-full-view-cont prm-recomendation-item .media-on-hover .pin-button, prm-full-view-cont .recommendations-title:after, prm-full-view-cont .recommendations-title prm-icon, prm-databases-categorize .sticking-wrapper, md-virtual-repeat-container#prm-simple-search .md-autocomplete-suggestions md-divider, md-dialog md-toolbar:not(.md-menu-toolbar), md-card .card-content-block, .full-view-inner-container {
  background-color: #ffffff; }

/* change appearance of search query terms in search results */
mark {box-shadow:none; font-weight:bold;}

/* create space between items on brief results page */
.list-item-wrapper {margin-bottom:6px;}
.list-item-wrapper:hover, .list-item-wrapper:focus {border-bottom-style:none;}

/* hide frbr/dedup line in brief results only */
prm-search-result-frbr-line {display:none;}
#full-view-container prm-search-result-frbr-line {display: initial;}
		
/* hide citation features in brief record; will still show in full record */
prm-citation-trails-indication-container {display:none;}

/* create space between metadata fields in full record */
#item-details .layout-row {margin-bottom: 10px;}

/* hide 856 links in full record */
div[ng-repeat="link in $ctrl.getLinks()"] {display:none;}
/* hide coverage statement in ViewIt */
prm-alma-viewit-items h4 {display:none;}
/* booking/request area */
/* hide request heading and make request button more button-like in appearance */
prm-request-services h3.section-title {position:absolute !important; left:-999999px;} 
prm-service-button .button-as-link.md-button { border: 1px solid #743182; border-radius: 10px;  padding: 4px 20px; text-transform: uppercase; background-color: #743182;color: #fff;}

/* ensure that footer isn't in middle of page */
md-content.md-primoExplore-theme {min-height: 400px;}

/* footer styles */
#footer {background:#0084AC;  border-top:1px solid #204963; color:#fff;}
#footer a, #footer a:visited {color:#fff; text-decoration: underline;}
#footer ul {padding-left: 0; list-style-type: none;}
.lr-footer {padding:20px 20%;}
#subfooter {background:#204963;}
#lr-libraries-logo {margin-bottom:20px;}

@media screen and (max-width:960px) {
	
	.lr-footer {padding: 20px;}
}