<!-- notes pertaining to particular locations with unusual limitations or requirements. Edit text and ng-if to suit location code or codes. Class is copied from parent elements to provide proper padding -->
<p class="md-list-item-text" layout="row" flex="" layout-wrap="" ng-if="::$ctrl.locationCode.indexOf('svraza')===0">
    <md-icon md-svg-icon="action:ic_info_outline_24px" class="margin-right-small margin-left-small"- aria-label="Information"></md-icon> 
    <em>The RAZA Center Course Collection is available to students who are affiliated with the RAZA Center.</em>
    <a href="https://scc.losrios.edu/student-resources/cultural-engagement-centers/raza-center" target="_blank">Learn more 
        <lr-ext-link-icon></lr-ext-link-icon>
    </a>
</p>
<p class="md-list-item-text" layout="row" flex="" layout-wrap="" ng-if="::$ctrl.locationCode.indexOf('svashe')===0">
    <md-icon md-svg-icon="action:ic_info_outline_24px" class="margin-right-small margin-left-small"- aria-label="Information"></md-icon> 
    <em>The ASHÉ Center Course Collection is available to students who are affiliated with the ASHÉ Center.</em>
    <a href="https://scc.losrios.edu/student-resources/cultural-engagement-centers/ashe-center" target="_blank">Learn more 
        <lr-ext-link-icon></lr-ext-link-icon>
    </a>
</p>