<footer id="footer" ng-if="$ctrl.checkForContent();">
	<!-- top footer; edited college by college -->
	<div layout="row" layout-xs="column" id="top-footer" class="lr-footer">
		<div layout="column" flex="">
			<h2>More Resources</h2>
			<div class="lr-dbs">
				<ul>
					<li><a class="arrow-link" zero-margin="" ng-href="{{::$ctrl.browseURL}}" ng-click="$ctrl.scrollUp();">Browse by Call Number or Subject<prm-icon link-arrow="" icon-type="svg" svg-icon-set="primo-ui" icon-definition="chevron-right"></prm-icon></a></li>
					<li><a href="https://ezproxy.losrios.edu/login?url=https://search.ebscohost.com/login.aspx?authtype=ip%2Cuid&amp;profile=all" target="_blank">EBSCO Search</a></li>
					<li><a href="https://ezproxy.losrios.edu/login?url=https://scholar.google.com/" target="_blank">Google Scholar</a></li>
					<li><a href="https://ezproxy.losrios.edu/login?url=https://infotrac.galegroup.com/itweb?db=GVRL" target="_blank">Gale eBooks</a></li>
					<li><a href="https://library.losrios.edu/databases/?category=news" target="_blank">Newspaper Databases</a></li>

				</ul>
				<p ng-if="$ctrl.askUs">
					<md-icon md-svg-icon="action:ic_help_24px"></md-icon> Not sure where to start?
					<a href="{{::$ctrl.askUs}}">
						Ask Us. <lr-ext-link-icon></lr-ext-link-icon>
					</a>
				</p>
			</div>
		</div>
		<div layout="column" flex="">
			<h2>Get Research Help</h2>
			<ul>
<li>Research Help Desk: <a href="tel:916-484-8458">(916) 484-8458</a>
				</li>
				<li><a href="https://arc.losrios.edu/student-resources/library/contact-the-library">Ask A Librarian (email)</a></li>
				<li><a href="https://arc.losrios.libcal.com/appointments?lid=265&g=1123">Make an Appointment</a></li>
				<p>For questions about your library account, renewals, overdue fines, etc. contact the Circulation Desk: <a href="tel:916-484-8455">(916) 484-8455</a></p>
			</ul>
		</div>
		<div layout="column" flex="">
			<h2>Library Hours</h2>
			<p>Check our <a href="https://arc.losrios.edu/student-resources/library/about-the-library/library-hours" target="_blank">ARC Library hours <lr-ext-link-icon></lr-ext-link-icon></a> for updates.</p>
		</div>
	</div>
	<!-- subfooter; see js file for content -->
	<div id="subfooter" class="lr-footer">
		<div layout="row" layout-align="center" layout-align-xs="start" flex="" id="lr-libraries-logo"><img ng-src="{{::$ctrl.LRLogoSrc}}" alt="Los Rios Libraries"></div>
		<div layout="row" layout-xs="column">
			<div class="lr-ft-college-column" layout="column"  flex="" ng-repeat="lib in ::$ctrl.libraries">
				<div class="lr-ft-college">
				<div><a ng-href="https://{{::lib.abbr}}.losrios.edu/{{::lib.path}}">{{::lib.name}} College Library</a></div>
				<div><a ng-href="tel:+1-916-{{::lib.phone}}">(916) {{::lib.phone}}</a></div>	
				</div>
			</div>
		</div>
	</div>
</footer>