<!-- documentation: https://answers.library.losrios.edu/lrcq/faq/343616 -->
<md-content ng-class="$ctrl.fade" ng-if="$ctrl.showAnnounce({
startDate: '12-17-2021',
endDate: '1-17-2022',
daysToHide: 30,
cookieID: 'winter-break'
});">
	<p layout-margin layout-align="center center">
		<md-icon md-svg-icon="action:ic_announcement_24px" aria-label="announcement"></md-icon>
		 Library services will resume at the beginning of the spring 2022 semester. <a target="_blank" href="https://flc.losrios.edu/student-resources/library/about-the-library/library-hours">View library hours.</a> 
		<md-button class="md-raised" ng-click="$ctrl.hideAnnounce();">
			Hide this announcement
			<md-icon md-svg-icon="navigation:ic_close_24px" aria-label="Close"></md-icon>
		</md-button>
	</p>
</md-content>