<md-content>
    <div layout-xs="column" layout="row">
        <div flex-gt-xs="40" layout="column">
            <md-card class="default-card">
                <md-card-title>
                    <md-card-title-text>
                        <h2 class="md-headline">Start Your Research Here</h2>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        Access ebooks, scholarly articles, magazines, and newspapers from Los Rios databases; find physical books and DVDs held by the Los Rios Libraries. 
                    </p>
                    <lr-homepage-faq></lr-homepage-faq>
                </md-card-content>
            </md-card>
        </div>
        <div flex-gt-xs="60" layout="column">
            <md-card class="default-card">
                <md-card-title id="lr-onesearch-vid-headline">
                    <md-card-title-text>
                        <h2 class="md-headline">OneSearch in One Minute</h2>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content id="lr-onesearch-vid-container">
                    <iframe id="lr-onesearch-vid" flex="" src="https://www.youtube-nocookie.com/embed/QiKP51awiBw?cc_load_policy=1&amp;modestbranding=1&amp;rel=0" frameborder="0" allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
                </md-card-content>
            </md-card>
        </div>  
    </div>
    <div layout="row" id="lr-featured-collections">
        <md-card class="default-card" layout="column" flex="100">
            <md-card-title>
                <md-card-title-text>
                    <h2 class="md-headline">Featured Collections</h2>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
			<div>
				<ul layout="row" layout-wrap flex flex="100" class="zero-margin">
                    <li layout-margin flex="40" flex-gt-xs="20" >
						<a class="zero-margin" title="Native American Authors and Poets collection" href="/discovery/collectionDiscovery?vid=01CACCL_LRCCD:scc&amp;collectionId=8181611960005325">
							<img alt="" src="https://na05.alma.exlibrisgroup.com/view/delivery/thumbnail/01CACCL_LRCCD/8181611960005325">
							<div>Native American Authors and Poets</div>
						</a>
					</li>  
                     <li layout-margin flex="40" flex-gt-xs="20" >
						<a class="zero-margin" title="Banned and challenged books"  href="/discovery/collectionDiscovery?vid=01CACCL_LRCCD:scc&amp;collectionId=8181352590005325">
							<img alt="" src="https://na05.alma.exlibrisgroup.com/view/delivery/thumbnail/01CACCL_LRCCD/8181352590005325">
							<div>Banned and Challenged Books</div>
						</a>
					</li>  
                    <li layout-margin flex="40" flex-gt-xs="20" >
						<a class="zero-margin" title="Hispanic Heritage Month collection"  href="/discovery/collectionDiscovery?vid=01CACCL_LRCCD:scc&amp;collectionId=8180923520005325" >
							<img alt="" src="https://na05.alma.exlibrisgroup.com/view/delivery/thumbnail/01CACCL_LRCCD/8180923520005325">	
							<div>Hispanic Heritage Month</div>
						</a>
					</li>
                     <li layout-margin flex="40" flex-gt-xs="20" >
						<a class="zero-margin" title="Film adaptation"  href="/discovery/collectionDiscovery?vid=01CACCL_LRCCD:scc&amp;collectionId=8178422840005325" >
							<img alt="" src="https://na05.alma.exlibrisgroup.com/view/delivery/thumbnail/01CACCL_LRCCD/8178422840005325">
							<div>Film Adaptation</div>
						</a>
					</li>                
                </ul>
            </div>
		</md-card-content>
        </md-card>
    </div>

    <!-- model attribute takes JSON object with properties cardName: string that displays as heading, reportName: string that matches nickname in analytics proxy php file, (optional) numToShow: integer that sets hwo many appear initially and are added when "show more" button is clicked -->
     <lr-newbooks-display model='{
        "cardName": "Newly added ebooks and streaming: View online",
         "reportName": "new_electronic_scc",
         "numToShow": "4"
     }'>
     </lr-newbooks-display>
     <lr-newbooks-display model='{
        "cardName": "New on the shelf: Request and take home",
        "reportName": "scc_new_books",
        "numToShow": "4"    
    }'>
    </lr-newbooks-display>
    
</md-content>