<!-- this template is used for lrNewbooksDisplay. It does not require per-college editing and does not do anything if the component is absent -->
<div layout="row" ng-if="$ctrl.bookList">
	<md-card class="default-card" flex>
		<md-card-title>
			<md-card-title-text>
				<h2 class="md-headline">{{::$ctrl.cardName}}</h2>
			</md-card-title-text>
		</md-card-title>
		<md-card-content>
			<div>
				<ul layout="row" layout-wrap>
					<!-- Analytics report columns
					Column0: MMS Id, truncated
					Column1: Title (Complete) 
					Column 2: Material type code
					Column 3: ISBN or other identifier -->
					<li layout-margin ng-repeat="book in $ctrl.bookList" ng-class="[$ctrl.itemFormat(book.Column2), $ctrl.varyFlex(book.Column3), $ctrl.checkIdentifier(book.Column3)]" ng-attr-id="{{::$ctrl.makeId(book.Column3)}}">
						<a ng-attr-title="{{::book.Column1}}" ng-href="/discovery/fulldisplay?docid=alma{{::book.Column0}}5325&amp;context=L&amp;vid=01CACCL_LRCCD:{{::$ctrl.colAbbr}}&amp;search_scope={{::$ctrl.colAbbr}}_everything&amp;adaptor=Local Search Engine&amp;tab=everything" ng-click="$ctrl.scroll();">
							<img loading="lazy" ng-src="{{::$ctrl.imgSrc(book.Column3);}}" ng-attr-alt="{{::book.Column1}}" ng-on-load="::$ctrl.checkImg('lr_' + book.Column3);" onerror="this.src='https://via.placeholder.com/140x160';">
							<md-icon class="lr-play-vid" md-svg-icon="av:ic_play_circle_outline_24px" aria-label="streaming video or audio"></md-icon>
							<span class="lr-newbook-title" ng-bind-html="::$ctrl.truncateTitle(book.Column1)"></span>
						</a>
					</li>
				</ul>
				<div layout="row" layout-xs="column" >
					<div layout="row" layout-gt-sm="column" flex="100" flex-gt-sm="33" layout-align="start start" >
						<md-button ng-if="$ctrl.showButton();" ng-click="$ctrl.addBooks();">
							<md-icon md-svg-icon="navigation:ic_expand_more_24px"></md-icon> View more items
						</md-button>
					</div>
					<div layout="row" layout-gt-sm="column" flex="100" flex-gt-sm="33" layout-align="start start" layout-align-gt-sm="center center">
						<a href="/discovery/collectionDiscovery?vid=01CACCL_LRCCD:scc&amp;collectionId=8185403940005325">All new titles <prm-icon class="arrow-link md-primoExplore-theme" link-arrow="" icon-type="svg" svg-icon-set="primo-ui" icon-definition="chevron-right"></prm-icon></a>
					</div>
					<div layout="row" layout-gt-sm="column" flex="100" flex-gt-sm="33" layout-align="start start" layout-align-gt-sm="center end">
						<a class="zero-margin arrow-link" href="https://researchguides.scc.losrios.edu/on-order" target="_blank">Titles currently on order <lr-ext-link-icon></lr-ext-link-icon></a>
					</div>
				</div>		
			</div>
		</md-card-content>
	</md-card>
</div>